$primaryBackground: #ECECEB;
$secondaryBackground: #2E383F;
$cardBackground: #222831;
$contrastBackground: #F9A828;

$darkFontColor: #2E383F;
$lightFontColor: #ECECEB;
$contrastFontColor: #F9A828;
$secContrastFontColor: #07617D;
$watersignColor: #00000015;